$wrapper
  max-width $contentWidth
  //margin 0 auto
  padding 2rem 2.5rem
  margin-right: 240px;
  @media (max-width: $MQNarrow)
    padding 2rem
    margin 0 auto
  @media (max-width: $MQMobileNarrow)
    padding 1.5rem
